<div fxLayout="row" fxLayout.xs="row" fxFlex="50" fxFlex.xs="95">
    <mat-icon class="material-icons-outlined">add_alert</mat-icon>
    <mat-icon class="material-icons-outlined" style="padding-left: 20px;">person_add_alt</mat-icon>
    <mat-icon class="material-icons-outlined" style="padding-left: 20px;">palette</mat-icon>
    <mat-icon class="material-icons-outlined" style="padding-left: 20px;">image</mat-icon>
    <mat-icon class="material-icons-outlined" style="padding-left: 20px;">archive</mat-icon>
    <mat-icon class="material-icons-outlined" style="padding-left: 20px;">more_vert</mat-icon>
</div>