<div fxlayout="row" fxLayoutAlign="start center" style="padding-top: 10%; padding-left: 5%;" fxLayout.xs="column">
    <mat-card style="width: auto; height: auto;">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">Title
        <mat-icon style="padding-right: 20px;">push_pin</mat-icon>
        </mat-card-title>
        <mat-card-subtitle style="font-size: 15px; padding-top: 5%;">
            <p>
                hello
            </p>
        </mat-card-subtitle>
        <app-icons></app-icons>
    </mat-card>
</div>