.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 2;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-icon{
    margin-top: 13px;
    font-size: 22px;
  }
  .mat-form-field{
    margin-top: 10px;
  }
  .three-icons{
    padding-right: 60px;
  }
  .right-icons{
    padding-left: 130px;
    opacity: 0.6;
  }
  img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .Button{
  height: 50px;
  width: 50px;
  // margin: 0 5px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s ease-out;
 }
 .Button:hover{
  height: 55px;
  border-radius: 0 25px 25px 0;
  background-color: blanchedalmond;
  font-size: 20px;
  width: 200px;
 }
.Button .icon{
  height: 60px;
  width: 60px;
  line-height: 30px;
  font-size: 25px;
  border-radius: 50px;
  margin: 11px 15px;
  font-size: 22px;
}
.Button .mat-list-item{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
}