<div class="Container" fxLayout="column" fxLayoutAlign="space-around" fxLayout.xs="column">
    <form [formGroup]="ResetPassword" (ngSubmit)="onSubmit()">
        <div class="main" fxLayout="column">
            <div class="Google" fxLayoutAlign="center" fxLayout.xs="row">
                <span style="color: #1900ff">F</span>
                <span style="color: #ff0000">u</span>
                <span style="color: #fbff00">n</span>
                <span style="color: #001aff">d</span>
                <span style="color: #3ab844">o</span>
                <span style="color: #ff0000">o</span>
            </div>
            <div class="content" fxLayoutAlign="center" fxLayout.xs="row">
                <h3>Reset Your Password</h3>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="column">
                <div>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" formControlName="NewPassword" placeholder="" />
                            <mat-error>Enter new password</mat-error>
                        </mat-form-field>
                    </p>
                </div>
                <div>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>confirm Password</mat-label>
                            <input matInput type="password" formControlName="ConfirmPassword" placeholder="" />
                            <mat-error>confirm Password</mat-error>
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayout.xs="column" style="margin-right: 2%;">
                <button mat-raised-button color="primary">Next</button>
            </div>
        </div>
    </form>
</div>